<div class="card">
<%= cl_image_tag("v1rhc5adlpgelzk6tvbu",
      width: 400, height: 300, crop: :fill) %>
      <% @lists.each do |list| %>
      <%= cl_image_tag("gokn1lhx7anyqj0hzxvd",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
        <div class="card-category">
          <div class="toggle">
            <span>▶</span><h2><%= list.name %></h2>
          </div>
          <div class="hidden">
            <div class="picture">
                <%= image_tag(url_for(list.photo_url), class:'looney_image') %>
            </div>
            <div class="description">
                <p class='overview'><%= list.overview %></p>
            </div>
          </div>
        </div>
      <% end %>
</div>
